.red {
	background-color: red;
	font-family: 'Montserrat', sans-serif;
}
.orange {
	background-color: orange;
	font-family: 'Dosis', sans-serif;
}
.yellow {
	background-color: yellow;
	font-family: 'Orbitron', sans-serif;
}
.green {
	background-color: green;
	font-family: 'Arimo', sans-serif;
}
.darkGreen {
	background-color: #228B22;
	font-family: 'Roboto', sans-serif;
}
.lightBlue {
	background-color: #add8e6;
	font-family: 'Hind', sans-serif;
}
.blue {
	background-color: blue;
	font-family: 'Poppins', sans-serif;
}
.violet {
	background-color: #9932CC;
	font-family: 'Raleway', sans-serif;
}

div {
	height: 69px;
}
p {
	color: white;
	text-align: center;
	padding-top: 30px;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
}