p, h1, h3, a {
	font-family: sans-serif;
}

.navbar {
	display: flex;
	background-color: white;
	margin-top: 20px;
	position: fixed;
	z-index: 500;
	top: 0;
	width: 100%;
	margin: 0;
}
.logo {
	padding-left: 100px;
	padding: 10px;
	/*width: 50%;*/
	align-items: center;
    justify-content: left;
}
.navbar-content {
	display: flex;
	/*width: 50%;*/
	align-items: center;
    justify-content: center;
}

.navbar-content > a {
	text-align: center;
	margin: 20px;
	text-decoration: none;
}

.navbar-content > p:hover {
	color: green;
}

.header {
	background-image: linear-gradient(rgba(27, 122, 20, 0.5), rgba(27, 122, 20, 0.5)),url('logo.JPG') !important;
	position:relative;
	width:100%;
	text-align:center;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}
.header-content {
	text-align : center;
	color: white;
}
.header-content {
	padding:200px 15px;
}
.header-content > h1 {
	font-size: 40px;
}

.header-button {
	border:none;
	/*border-radius:300px;*/
	font-weight:700;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	padding:15px 45px 15px 45px;
	margin-top: 20px;
}


.dark-content {
	padding: 25px 100px;
	background-color: grey
}
.dark-content > h1 {
	color: white;
	text-align: center;
}

.light-content {
	padding: 25px 100px;
	background-color: white
}
.light-content > h1 {
	text-align: center
}

.container {
	display: flex;
}

.content-half {
	width: 50%;
	padding: 10px;
}
.content-half > img {
	margin-left: 50px;
	width: 100%;
}

.content-third {
	width: 50%;
	padding: 10px;
}
.content-third > img {
	margin-left: 50px;
	width: 33%;
}

footer {
	text-align: center;
}

body {
	padding: 0;
	margin: 0;
}