body {
	font-family: sans-serif;
	background-color: #f9f8f8;
}


/* table */
.title {
	background-color: #96b3d2;
	border-bottom: 3px solid #7d93ac;
	color: white;
	height: 30px;
}

.rounded-top-right {
	border-top-right-radius: 10px;
}
.rounded-top-left {
	border-top-left-radius: 10px;
}

.content {
	background-color: lightblue;
}
table {
	border-collapse: collapse;
	margin-bottom: 40px;
	margin-top: 30px;
}

td {
	border: 1px solid #b2b2b2;
	padding: 10px;
}


/* form */
.form {
	border: 1px #e5e5e5 solid;
	background-color: white;
	padding: 20px 16px 0px 13px;
	width: 300px;
	margin-bottom: 40px;
}
.flex {
	display: flex;
}
h4 {
	/*margin-top: -28px;*/
	font-style: italic;
	font-weight: normal;
	margin: 0px 0px -8px 15px !important
}
.form > form > input {
	margin-bottom : -35px;
	font-size: 12px;
}
input[name="firstname"] {
	margin-left: 75px;
}
input[name="lastname"] {
	margin-left: 77px;
}

.form {
	display: flex;
}

select {
	/*margin-top: 16px;*/
	margin-left: 9px;
}

input[type="submit"] {
	background: green;
	float: right;
	margin-top: 20px;
	margin-bottom: 50px;
	border-radius: 6px;
	color: white;
}
input {
	margin-left: 73px;
}

.options {
	display: flex
}
.flex > p {
	margin: 0px 11px 6px 0px;
}
input {
	margin-left: 11px;
}
hr {
	border: 1px solid #fff;
	margin-bottom: 1px;
}