<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>create a new redirection</h1>
<form action = '/urls' method = 'POST'>
	<input type = 'text' name = 'short' value = 'asdf' placeholder = 'short'>
	<input type = 'text' name = 'long' value = 'http://github.com' placeholder= 'long'>
	<button type = "submit">submit</button>
</form>

</body>

<script>
</script>

</html>