#updown {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
}
.updown {
    animation: updown 1s;
    animation-fill-mode: forwards;
}
@keyframes updown {
    0%   {top: 0px;}
    100% {top: 300px;}
}
.downup {
    animation: downup 1s;
    animation-fill-mode: forwards;
}
@keyframes downup {
    0%   {top: 300px;}
    100% {top: 0px;}
}

#diag-change-color {
    width: 100px;
    height: 100px;
    left: 250px;
    background: green;
    position: relative;
}
.diag-change-color {
    animation: diag-change-color 5s;
    animation-fill-mode: forwards;
}
@keyframes diag-change-color {
    0%   {
        top: 0px;
        left: 0px;
        background: green;
    }
    50% {
        top: 150px;
        left: 300px;
        background: black;
    }
    100% {
        top: 0px;
        left: 0px;
        background: black;
    }
}

#double-width {
    width: 100px;
    height: 100px;
    left: 400px;
    background: blue;
    position: relative;
    animation: double-width 5s infinite;
}
@keyframes double-width {
    0%   {
        width: 100px;
        height: 100px;
    }
    50% {
        width: 200px;
        height: 200px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

#random {
    width: 100px;
    height: 100px;
    left: 550px;
    background: purple;
    position: relative;
    animation: random 5s infinite;
}
@keyframes random {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}