body {
	font-family: 'Source Code Pro', monospace;
	margin: 0;
	background-color: black;
	color: lime;
}
.equipment {
    padding: 20px;
}
.auth {
	padding: 20px;
}
.welcome {
	padding: 20px;
}
.inventory {
	padding: 20px;
}

a {
	text-decoration: none;
	color: lime;
}
td {
    padding-right: 30px;
    padding-left: 30px;
}
nav {
	display: flex;
    margin: 20px;
}
nav > a {
	transition: .35s all;
}
nav > a:hover {
	color: green;
}