body {
	font-family: 'Source Code Pro', monospace;
	margin: 0;
	background-color: black;
	color: lime;
}
.equipment {
    padding: 20px;
}
.auth {
	padding: 20px;
}
.welcome {
	padding: 20px;
}
.inventory {
	padding: 20px;
}
.inventory > form > input {
    background-color: black;
    color: white;
    border-color: lime;
    margin-top: 20px;
}
.inventory > form > button {
	background-color: black;
    color: lime;
    border-color: lime;
}

a {
	text-decoration: none;
	color: lime;
}
td {
    padding-right: 30px;
    padding-left: 30px;
}
nav {
	display: flex;
    margin: 20px;
}
nav > a {
	transition: .35s all;
}
nav > a:hover {
	color: green;
}